
    
*{
    background-color: black;
}

    

h1{
    color: white;
    
    text-align: center;
}

div{
    height: 550px;
    width: 540px;
    display: flex;
    font-size: 10px;
    color: white;
    justify-content: center;
    align-items: end;
   padding-bottom: 20px;
   
    
    
}
.main{
    margin: auto;
    margin-top: 30px ;
}
        
        
.a{
    background-color: #5c2576;
}
.b{
    background-color: #702e75;
}
.c{
    background-color: #8a3a75;
}
.d{
    background-color: #a34874;
}.e{
    background-color: #bb5374;
}.f{
    background-color: #d35f74;
}.g{
    background-color:#ea6b74;
}.h{
    background-color:#ed7c74;
}.i{
    background-color:#f18d73 ;
}.j{
    background-color:#f69d71 ;
}.k{
    background-color:#f9af72 ;
}.l{
    background-color: #fdbe71;
}.m{
    background-color:#ffcc8d ;
}.n{
    background-color:#ffe0ba;

}